/*

https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #36113e;
	--sl-color-accent: #a400c0;
	--sl-color-accent-high: #e3b6ed;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf1;
	--sl-color-gray-2: #c9c7cc;
	--sl-color-gray-3: #a4a2ab;
	--sl-color-gray-4: #59575f;
	--sl-color-gray-5: #39373e;
	--sl-color-gray-6: #27262c;
	--sl-color-black: #18181b;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ebc9f3;
	--sl-color-accent: #8b00a3;
	--sl-color-accent-high: #4e0e5b;
	--sl-color-white: #18181b;
	--sl-color-gray-1: #27262c;
	--sl-color-gray-2: #39373e;
	--sl-color-gray-3: #59575f;
	--sl-color-gray-4: #8c8a93;
	--sl-color-gray-5: #c2c1c6;
	--sl-color-gray-6: #eeedf1;
	--sl-color-gray-7: #f6f6f8;
	--sl-color-black: #ffffff;
}

.no-select {
	user-select: none;
}
